{
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "printWidth": 100,
  "overrides": [
    {
       "files": ["*.json"],
       "options": {
         "tabWidth": 2
       }     
    }
  ]
}
